@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.action-btn {
  background: none;
  font-size: 1.4rem;
  font-weight: 700;
  border: 2px solid var(--primary);
  text-transform: uppercase;
  padding: 12px 20px;
  width: 15rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.4s linear;
  position: relative;
  color: var(--primary);
  font-weight: 500;
  animation: fadeUp 1s ease-in-out;
}
.reviewCard {
  background-color: #fff;
  border-radius: 10px;
  margin: 3rem 0;
}
